* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    font-size: 1rem;
}

.navbar {
    width: 100%;
    background-color: rgb(10, 3, 27);
    height: 10vh;
    border-radius: 0 0 .5rem .5rem;
    margin-bottom: 5vh;
    display: flex;
    align-items: center;
}

@media screen and (max-height: 500px) {
    .navbar {
        height: 15vh;
    }
}

.navbar ul {
    display: flex;
}

.navbar h1 {
    margin-left: 3%;
    margin-right: 55%;
    user-select: none;
    color: white;
    font-size: 2.5rem;
}

@media screen and (max-width: 1700px) {
    .navbar h1 {
        margin-right: 50%;
    }
}

@media screen and (max-width: 1500px) {
    .navbar h1 {
        margin-right: 45%;
    }
}

@media screen and (max-width: 1400px) {
    .navbar h1 {
        margin-right: 40%;
    }
}

@media screen and (max-width: 735px) {
    .navbar h1 {
        font-size: 2rem;
    }
}

@media screen and (max-width: 600px) {
    .navbar h1 {
        font-size: 1.7rem;
    }
}

.navbar ul li{
    list-style: none;
    color: white;
}

.navbar ul li a{
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
    transition: color, 0.2s;
    padding: 1rem;
}

.navbar img {
    width: 5vh;
    display: none;
}

@media screen and (max-width: 1270px) {
    .navbar ul li a{
        display: none;
    }

    .navbar img {
        display: flex;
    }

    .navbar h1 {
        margin-right: 65%;
    }
}

@media screen and (max-width: 1100px) {
    .navbar h1 {
        margin-right: 60%;
    }
}

@media screen and (max-width: 900px) {
    .navbar h1 {
        margin-right: 55%;
    }
}

@media screen and (max-width: 800px) {
    .navbar h1 {
        margin-right: 50%;
    }
}

@media screen and (max-width: 538px) {
    .navbar h1 {
        margin-right: 45%;
    }
}

@media screen and (max-width: 480px) {
    .navbar h1 {
        margin-right: 40%;
    }
}

@media screen and (max-width: 430px) {
    .navbar h1 {
        margin-right: 35%;
    }
}

@media screen and (max-width: 385px) {
    .navbar h1 {
        margin-right: 30%;
    }
}

@media screen and (max-width: 365px) {
    .navbar h1 {
        margin-right: 25%;
    }
}

.navbar ul li a:hover {
    color: orange;
}

.main {
    text-align: center;
    align-items: center;
}

@media screen and (max-width: 1000px) {
    .main {
        width: 100%;
    }
}

.main h1 {
    margin-left: 2%;
    margin-right: 2%;
    font-size: 2.5rem;
    margin-bottom: 2vh;
}

.main p {
    margin-left: 2%;
    margin-right: 2%;
    font-size: 1.6rem;
}