* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
    height: 10dvh;
    background-color: #353535;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 5rem;
}

.navbar li {
    list-style: none;
}

.navbar li a {
    transition: all 0.2s;
}

.Item a, .LastItem a {
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
    font-weight: 500;
}

.Item a:hover, .LastItem a:hover {
    font-size: 1.4rem;
}

.logo {
    margin-right: auto;
    margin-left: 5%;
}

.logo a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.5rem;
}

.logo a:hover {
    font-size: 1.6rem;
}

.LastItem {
    margin-right: 5%;
}

.hamburger {
    display: none;
    flex-direction: column;
    gap: 0.5rem;
    margin-right: 5%;
}

.hamburger div {
    transition: all 0.3s;
    width: 30px;
    height: 3px;
    background-color: white;
}

.hamburger:hover {
    cursor: pointer;
}

.hamburgerSidebar {
    display: flex;
    flex-direction: column;
    margin-right: 5%;
}

.hamburgerSidebar div {
    transition: all 0.3s;
    width: 30px;
    height: 3px;
    background-color: white;
}

.hamburgerSidebar .Line2 {
    opacity: 0;
}

.hamburgerSidebar .Line1 {
    transform: rotate(45deg) translateY(4px) translateX(4.5px);
}

.hamburgerSidebar .Line3 {
    transform: rotate(-45deg);
}

.sidebar-active {
    transition: all 0.5s;
    transform: translateX(0%);
    justify-content: center;
    align-items: center;
    background-color: #404040;
    height: 50dvh;
    border-radius: 0 0 0.5rem 0.5rem;
    display: flex;
    gap: 5rem;
    flex-direction: column;
}

.sidebar-active li {
    list-style: none;
}

.sidebar {
    height: 0dvh;
    transition: all 0.5s;
    transform: translateX(100%);
}

.sidebar li {
    display: none;
}

.sidebar-active li a {
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
    font-weight: 500;
}

@media screen and (max-width: 870px) {
    .hamburger {
        display: flex;
    }

    .Item, .LastItem {
        display: none;
    }
}

@media screen and (max-width: 450px) {
    .logo a {
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 430px) {
    .logo a {
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 416px) {
    .logo a {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 402px) {
    .logo a {
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 388px) {
    .logo a {
        font-size: 1rem;
    }
}

h1, h3 {
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
}

h1 {
    margin-top: 5dvh;
}

h3 {
    margin-top: 10dvh;
    padding-bottom: 5dvh;
}